body {
  font-family: sans-serif;
}

.container {
  padding: 50px 30px;
}

.main__title {
  margin-bottom: 50px;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 30px;
  font-size: 2rem;
}

.row {
  display: flex;
  gap: 30px;
}

.section > * {
  margin-bottom: 20px;
}

.section__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.post-input > *,
.item > * {
  margin-bottom: 10px;
}

.post-input__title {
  width: 300px;
  display: block;
}

.post-input__text {
  width: 300px;
  display: block;
}

.post-input__button {
  width: 300px;
  height: 30px;
  border-color: transparent;
  border-radius: 2px;
  background-color: rgb(64, 161, 251);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.post-input__button:hover {
  opacity: 0.7;
}

.validationMessage {
  margin-top: -20px;
  font-size: 0.5rem;
  color: red;
}

.validationMessage_hidden {
  display: none;
}

.item__date {
  font-style: italic;
  color: cadetblue;
}
