body {
  font-family: sans-serif;
}

.post {
    padding: 50px 30px;
}
.post > * {
  margin-bottom: 20px;
}

.post__title {
}

.post__text {
  width: 300px;
  display: block;
}

.post__publication-button {
  width: 300px;
  height: 30px;
}
