body {
  font-family: sans-serif;
}

.container {
  padding: 50px 30px;
}
.main__title {
  margin-bottom: 50px;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 30px;
  font-size: 2rem;
}

.row {
  display: flex;
  gap: 30px;
}

.section > * {
  margin-bottom: 20px;
}
.section__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.post {
}

.post__title {
}

.post__text {
  width: 300px;
  display: block;
}

.post__publication-button {
  width: 300px;
  height: 30px;
}
